<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="col-2-12 categories">
    <p class="medium am">Moses
      <br>
      <br> Surumen
    </p>
    <br>
    <br>
    <br>
    <br>
    <p class="hi">Hi, it's me</p>
  </div>
  <div class="col-6-12">
    <p class="intro">Software engineer interested in front-end &amp; backend web development, computer graphics, machine learning, and artificial intelligence.
      <br>
      <br> Find me on Github <a href="https://github.com/surumen" target="_blank" style="border-bottom: 1px dashed #222;">@surumen</a>
    </p>
  </div>
  <div class="col-4-12 right categories">
    <p class="medium">Menu</p>
    <ul>
      <li>
        <a href="#uno">
          <div class="number"><span class='category'> Projects</span> </div>
        </a>
      </li>
      <li>
        <a href="">Blog </a>
      </li>
      <br>
      <li>
        <a href="#colophon">
          <div class="number"><span class='category'> Contact </span></div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="grid grid-pad">
  <div class="col-6-12" id="uno">
    <div class="specialFont">Projects</div>
  </div>
  <div class="clearfix"></div>
  <div class="col-2-12"></div>
  <div class="col-10-12">
    <ul class="projects">
      <div class="img"></div>
      <!-- https://machinelearningmastery.com/inspirational-applications-deep-learning/ -->
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Adding Sounds to Silent Movies using Convolutional and LSTM Recurrent Neural Networks - <span class="type"> Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year">&nbsp;  &nbsp;</span> 
          <span class="title">Creating a Compiler from Scratch in JavaScript - <span class="type"> Compilers &ndash; Programming Languages</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Developing a HTTP Server from Scratch - <span class="type"> Internet Protocols</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Data Compressor from Scratch - <span class="type"> Algorithms &ndash; Data Structures</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Simple Turing Machine Simulator - <span class="type"> Design and Analysis of Algorithms</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Lambda Calculus: Building Numbers and Booleans from Scratch - <span class="type"> Computer Theory</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Object-Oriented vs Functional Programming - <span class="type"> Programming paradigms</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Asynchronous Testing - <span class="type"> Software development</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Designing a Test Suite - <span class="type"> Software Development &ndash; Testing</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Programming a Simple REST Web Server from Scratch - <span class="type"> Front-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Graph-Based Algorithms Visualization - <span class="type"> Front-end &ndash; Back-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Data Visualization - <span class="type"> Front-end Design &ndash; Data Science</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Facial Recognition with Support Vector Machines and Eigenfaces- <span class="type"> Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Gradient Descent Algorithms - <span class="type"> Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li>
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Game of Chess - <span class="type"> Front-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
    </ul>
  </div>
  <!-- Projects -->
  <div class="clearfix"></div>
</div>
<footer id="colophon">
  <div class="col-2-12">
  </div>
  <div class="col-5-12" style="margin-bottom: 0;">
    <a href=""> Contact</a>
    <span class="year">
      <p class="intro">Feel free to contact me at: <br>
      hello@surumen.com <br>
      Berkeley, CA
      <br><br><br>
      </p>
      <p style="font-size: 12px;">&copy; 2014 - 2018 Moses Surumen</p>
    </span>
  </div>
</footer>
