<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="col-2-12 categories">
    <p class="medium am">Moses
      <br>
      <br> Surumen
    </p>
    <br>
    <br>
    <br>
    <br>
    <p class="hi"><a href="https://youtu.be/YQHsXMglC9A"><span style="border-bottom: 1px dashed #222;">Hello</span></a>, it's me</p>
  </div>
  <div class="col-6-12">
    <p class="intro">Software engineer interested in front-end &amp; backend web development, computer graphics, machine learning, and artificial intelligence.
      <br>
      <br> Find me on Github <a href="https://github.com/surumen" target="_blank" style="border-bottom: 1px dashed #222;">@surumen</a>
    </p>
  </div>
  <div class="col-4-12 right categories">
    <p class="medium">Menu</p>
    <ul>
      <li>
        <a href="#projects">
          <div class="number"><span class='category'> Projects</span> </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="number"><span class='category'> Blog</span> </div>
        </a>
      </li>
      <br>
      <li>
        <a href="#contact">
          <div class="number"><span class='category'> Contact </span></div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="grid grid-pad">
  <div class="col-6-12" id="projects">
    <div class="specialFont">Projects</div>
  </div>
  <div class="clearfix"></div>
  <div class="col-2-12">
  </div>

  <div class="col-10-12 pvmain">
     <span class="filters">
        <span class="tag-container">
          <a href="" title="All Projects" class="domino-data-science-field-note">  All </a>
        </span>
        <span class="tag-container">
          <a href="" title="Machine Learning, Data Science Projects" class="programming">Machine Learning </a>
        </span>
        <span class="tag-container">
          <a href="" title="Front-End Development" class="r"> Front-End </a>
        </span>
        <span class="tag-container">
          <a href="" title="Back-End Web Development" class="reproducibility">  Back-End</a>
        </span>
        <span class="tag-container">
          <a href="" title="Algorithms and Data Structures" class="reproducibility">  Algorithms</a>
        </span>
        <span class="tag-container">
          <a href="" title="Mobile Applications" class="reproducibility">  Mobile Apps</a>
        </span>
        <br>
        <br>
    </span>
    <ul class="projects">
      <div class="img"></div>
      <!-- https://machinelearningmastery.com/inspirational-applications-deep-learning/ -->
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Adding Sounds to Silent Movies using Convolutional Neural Networks <span class="type">&mdash; Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year">&nbsp;  &nbsp;</span> 
          <span class="title">Creating a Compiler from Scratch in JavaScript <span class="type">&mdash; Compilers, Programming Languages</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Developing a HTTP Server from Scratch <span class="type">&mdash; Internet Protocols</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Data Compressor from Scratch <span class="type">&mdash; Algorithms &ndash; Data Structures</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Simple Turing Machine Simulator <span class="type">&mdash; Design and Analysis of Algorithms</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Lambda Calculus: Building Numbers and Booleans from Scratch <span class="type">&mdash; Computer Theory</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Object-Oriented vs Functional Programming <span class="type">&mdash; Programming paradigms</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Asynchronous Testing <span class="type">&mdash; Software Development</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Designing a Test Suite <span class="type">&mdash; Software Development &ndash; Testing</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Programming a Simple REST Web Server from Scratch <span class="type">&mdash; Front-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Graph-Based Algorithms Visualization <span class="type">&mdash; Front-end &ndash; Back-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2018 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Data Visualization <span class="type">&mdash; Front-end Design &ndash; Data Science</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Facial Recognition with Support Vector Machines and Eigenfaces <span class="type">&mdash; Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Gradient Descent Algorithms <span class="type">&mdash; Machine Learning</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
      <li class="pv3">
        <a href="">
          <span class="time">2017 </span>
          <span class="year"> &nbsp;  &nbsp;</span> 
          <span class="title">Game of Chess <span class="type">&mdash; Front-end</span></span>
          <div class="linkProject">▶</div>
        </a>
      </li>
    </ul>
  </div>
  <!-- Projects -->
  <div class="clearfix"></div>
</div>
<footer id="contact">
  <div class="col-2-12">
  </div>
  <div class="col-5-12" style="margin-bottom: 0;">
    <a class="medium" href=""> Contact</a>
    <span class="year">
      <p class="intro">Feel free to contact me at: <br>
      hello@surumen.com <br>
      Berkeley, CA
      <br><br><br>
      </p>
      <p style="font-size: 12px;">&copy; 2014 - 2018 Moses Surumen</p>
    </span>
  </div>
</footer>
